body{
background-image: url("../bilder/bak.jpg");

background-size: cover;
}

h1{
  color:white;
  font-family:sans-serif;
}
h2{
  color:#8ae8ed;
  font-family:serif;
}
h3{
color:white;
font-family:monospace;
}
#wrapper{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

header{
height: 70px;
width: 100%;
text-align: center;
/color:#46434d;
  /outline-width:thick;
  /outline-style:dotted;
  /outline-color: Black;
    /background-color:#515557;
    /width: 100%;
    /border: 0px solid gray;
    /padding: 0px;
    /margin: 0px;
}

nav{
  word-spacing: 30px;
  height: 50px;
  width: 100%;
text-align: center;
color:#46434d;
  outline-width:thick;
  outline-style:double;
  outline-color: white;
    /background-color:#dde9ed;
    /width: 700px;
    /border: 0px solid gray;
    padding: 1px 0px 11px 0px;
    /margin: 0px;

}
main{
height: 400px;
width:  60%;
text-align: center;
  background-color:;
  /width: 65%;
  border: 0px solid gray;
  padding:100px;
  margin: 0px;

}

aside{
  height: 400px;
  width: 40%;
padding:50px;

}

footer{
  height: 50px;
  width: 100%;


}

#container{
display:flex;
}

a:link {
  color: #8ae8ed;
  text-decoration:none;
  font-size: 25px;
  font-family:monospace;
}

/* visited link */
a:visited {
  color: #8ae8ed;
  text-decoration:none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration:none;
}

/* selected link */
a:active {
  color:#19dbe6;
  text-decoration:none;
}
