body{
background-image: url("../bilder/bakgrund.jpg");

background-size: cover;
}

h1{
  color:white;
  font-family:sans-serif;
}
h2{
  color:#346bbf;
  font-family:serif;
}
h3{
color:white;
font-family:monospace;
}
#wrapper{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

header{
  height: 70px;
  width: 100%;
  text-align: center;
  outline-width:thick;
  outline-style:solid;
  outline-color: white;
  width: 100%;
  border: 0px solid gray;
  padding: 0px;
  margin: 0px;
}


nav{
  word-spacing: 0px;
  height: 50px;
  width: 100%;
text-align: center;
}

main{
height: 400px;
width:  100%;
text-align: center;
  background-color:;
  border: 0px solid gray;
  padding:100px;
  margin: 0px;

}

aside{
  height: 400px;
  width: 0%;
padding:50px;

}



#container{
display:flex;
}

a:link, a:visited {
  background-color: #47b5d6;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: lightblue;
}
